<h4>Room: <%=@booking.room_id %></h4>

<p>User: <%= @booking.user.name %></p>
<p>Start Date: <%= @booking.start_date.strftime ("%B %d, %Y %H:%M") %></p>
<p>End Date: <%= @booking.end_date.strftime ("%B %d, %Y %H:%M") %></p>