<h4>
    Hoteles
</h4>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>

    <% @hotels.each do |hotel| %>
      <tr>
        <th scope="row"><%= hotel.id %></th>
        <td><%= hotel.name.capitalize %></td>
        <td><%= hotel.address.capitalize %></td>
        <td><%= hotel.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
